.background-img {
    background-image: url('../../../../images/banner_bg.png');
    opacity: 0.8;
    color: rgb(227, 241, 241);
}

.img-size {
    width: 60%;
}

.highlighting {
    display: flex;
    align-items: center;
    text-align: center;
}


@media only screen and (max-width:576px) {
    .highlighting {
        display: block;
    }
}