/* navbar background color */
.custom-navbar {
    background-color: rgb(11, 8, 43);
}

/* navbar text color and hover effect*/
.custom-text {
    font-size: 15px;
    color: white;
}

.custom-text:hover {
    color: goldenrod;
}